@font-face {
  font-family: DoppioOne;
  src: url("../../assets/fonts/DoppioOne-Regular.ttf");
}
.Entete h3 {
  font-family: "DoppioOne", sans-serif;
  color: inherit;
}

.Entete h3 span {
  display: block;
}

.Entete-Bloc {
  display: none;
}

.Mobile-Carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  margin: 2rem 0;
  text-align: center;
}

.fade-text {
  font-family: "DoppioOne", sans-serif;
  font-size: 1.8rem;
  font-weight: 900;

  /* Application du dégradé */
  background: linear-gradient(to right, #0468b8, #f31c4b);
  -webkit-background-clip: text; /* Pour Chrome, Safari, Edge */
  background-clip: text; /* Standard */
  color: transparent; /* Rend le texte transparent pour voir le dégradé derrière */

  display: inline-block; /* Important pour que le dégradé s'adapte bien au texte */
  animation: dynamicFade 0.6s ease-out;
}

@keyframes dynamicFade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.Entete h3 {
  padding-top: 1rem;
  font-size: 2.5rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 1000px) {
  .Mobile-Carousel {
    display: none;
  }

  .Entete-Bloc {
    display: flex;
    justify-content: flex-end;
    gap: 5rem;
  }

  .Entete-Bloc ul li {
    list-style: none;
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-right: 4rem;
    font-weight: 900;
    font-family: "DoppioOne", sans-serif;
  }

  .Entete h3 {
    padding-top: 2rem;
    font-size: 6rem;
    margin-bottom: 4rem;
    margin-left: 4rem;
    font-family: "DoppioOne", sans-serif;
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .Entete-Bloc ul {
    animation: float 4s ease-in-out infinite;
  }

  .Entete-Bloc ul:nth-child(2) {
    animation-delay: 1s;
  }

  .Entete-Bloc ul:nth-child(3) {
    animation-delay: 2s;
  }

  .Entete-Bloc ul li {
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: default;
  }

  .Entete-Bloc ul li:hover {
    transform: translateX(10px);
    background: linear-gradient(to right, #0468b8, #f31c4b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: transform 0.3s ease, color 0.1s;
  }
}
