@media (max-width: 1000px) {
  .NavBar-Desktop {
    display: none;
  }
  .NavBar-Desktop-titre {
    display: none;
  }

  .NavBar-Mobile {
    display: flex;
    list-style: none;
    justify-content: space-around;
    color: white;
    background: linear-gradient(to right, #0468b8, #f31c4b);
    font-weight: 900;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
  }

  .NavBar-Mobile-Lien a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    display: inline-block;
  }

  .NavBar-Mobile-Lien a:hover {
    transform: scale(1.1);
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
  }

  .navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
}

@media (min-width: 1000px) {
  .NavBar-Mobile {
    display: none;
  }

  .navbar-container {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
    background: linear-gradient(to right, #0468b8, #f31c4b);
  }

  .NavBar-Desktop {
    list-style: none;
    display: flex;
    align-items: center;
    font-weight: 900;
    gap: 3rem;
    font-size: 2rem;
  }

  .NavBar-Desktop-Lien a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    display: inline-block;
    list-style: none;
  }
  .NavBar-Desktop-Lien a:hover {
    transform: scale(1.1);
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
  }
}
